body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
.header-container {
    background-color: #484871;
}

h1 {
    text-align: center;
    color: #acb5e9;
}

/* body */
.body-container {
    display: flex;
    justify-content: center;
    background-color: #1e1e2e;
    padding: 28px;
}
.calculator-container {
    outline: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 560px;
    border-radius: 30px;
    background-color: #a6addb;
}

.screen {
    margin-top: 25px;
    width: 350px;
    height: 130px;
    border-radius: 15px;
    outline: 3px solid #18188c ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#display {
    padding: 20px 20px 0px 30px;
    height: 40px;
    font-size: 30px;
    height: 64.4px;
    overflow: hidden;
}
#result {
    text-align: end;
    padding: 10px;
    padding-right: 30px;
    height: 70px;
    font-size: 40px;
    overflow: hidden;
}

.buttons {
    width: 350px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-top: 30px;
}

button {
    width: 80px;
    height: 55px;
    border-radius: 15px;
    font-size: 20px;
    background-color: #484871;
}

#ac,
#sign {
    background-color: #4a4ae0;
}

#equal {
    background-color: lightblue;
}